@import '../../../styles/variables';

form{

    margin-bottom: 20px;

    .form-control{

        margin-bottom: 25px;

        >input, button{
            line-height: 2em;
            font-size: 16px;
            min-width: 300px;
            padding: 10px;
    
            &:focus{
                outline: none;
            }
        }

        button{
            width: 320px;
            background-color: $nav-button-color;
            color: white;
            &:hover{
                cursor: pointer;
                background-color: darken( $nav-button-color, 5% );
            }
            &:active{
                background-color: darken( $nav-button-color, 10% );
            }
        }

    }

    .error{
        background-color: #E35354;
        padding: 10px;
        color: #ffffff;
        width: 300px;
        margin-bottom: 20px;
    }    

    .success{
        background-color: #5DC560;
        padding: 10px;
        color: #ffffff;
        width: 300px;
        margin-bottom: 20px;
    }
   
}