<h1>Signup</h1>

<form [formGroup]="signupForm" (ngSubmit)="signup(signupForm.value, signupForm.valid)" novalidate>

    <div class="form-control">
        <input placeholder="First name" type="text" name="firstName" formControlName="firstName">
    </div>

    <div class="form-control">
        <input placeholder="Last name" type="text" name="lastName" formControlName="lastName">
    </div>

    <div class="form-control">
        <input placeholder="E-mail" type="email" name="email" formControlName="email">
    </div>

    <div class="form-control">
        <input placeholder="Password" type="password" name="password" formControlName="password">
    </div>

    <div class="form-control">
        <input placeholder="Confirm password" type="password" name="passwordConfirm" formControlName="passwordConfirm">
    </div>

    <div class="error" *ngIf="!passwordConfirm.valid && !passwordConfirm.hasError('required')">
        Passwords must match
    </div>

    <div class="error" *ngIf="error.message">
        {{error.message}}
    </div>

    <div class="success" *ngIf="confirm">
        {{confirm}}
    </div>

    <div class="form-control">
        <button type="submit">Sign up</button>
    </div>

</form>
